* {
    margin: 0;
    padding: 0;

    list-style: none;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

/*Boton para abritr el menu*/

.menuBar {
    width: 90vw;
    padding: 5vw;;
    background: #ff4a80;
}

.btMenu {
    display: inline-block;

    width: 40vw;


    text-decoration: none;

    color: #fff;

    font-size: 25px;
    font-weight: bold;
}


/*Barra de navegación*/

.contenedorNav {
    position: fixed;
    left: -100vw;
    width: 80vw;
    height: 100vh;
    margin: 0;
    transition:.5s;
    text-align: center;
    color: #fff;
    background-color: white;;
    font-size: 20px;
}

.contenedorNav.active {
    left: 0vw;
    transition:.5s;
}

.sectionNav a {
    color: #fff;
}

.sectionNav a:link {
    text-decoration: none;
}

div.sectionNav span {
      border-bottom: 1px solid #fff;
      color: #2e2e2e;
      font-size: 18px;
      text-align: left;
      margin-left: 13px;
      border:none;
}
.sectionNav{

}
.sectionNav ul{
      background-color: white;
      font-size: 16px;
      margin: 4%;
}
.sectionNav a{
      color:gray;
}
#logOut{
      background-color: #ff4a80;
      border: none;
      color:white;
      font-size: 18px;
      height: 6vh;
      letter-spacing: 1px;
      width: 82vw;
      text-align: left;
      padding: 4%;
}
.sectionNav #subtitle{
      background-color: #fbf8f8;
      height: 4vh;
      padding: 18px;
      text-align: left;
}
#subtitle .fa{
      color:#ff4a80;
}
li .fa{
      color:gray;
}
/************* Barra de filtro **************/
.contenedorFiltro{
    position: fixed;
    right: -100%;

    width: 80vw;
    height: 100vh;
    margin: 0;

    transition:.5s;
    text-align: center;

    color: #2e2e2e;
    background-color: white;

    font-size: 20px;
}

.contenedorFiltro.active {
    right: 0;
    transition:.5s;
}

.contenedorFiltro .sectionNav{
      border-bottom: 0.5px solid gray;
      padding: 5px;
      text-align: left;
}
.carlist{
      border:none;
      font-size: 15px;
      color:#2e2e2e;
}
.contenedorFiltro .sectionNav h2{
      font-size: 15px;
      color:gray;
      font-weight: normal;
}
#filter{
      background-color: #ff4a80;
      border: none;
      color:white;
      font-size: 18px;bit
      height: 6vh;
      letter-spacing: 1px;
      width: 70vw;
}
.styledSelect select{
      background: transparent;
      width: 268px;
      padding: 5px;
      font-size: 16px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
}
.styledSelect{
      width: 240px;
      height: 34px;
      overflow: hidden;
      background: url("../stuff/img/flechaSelect.png") no-repeat right ;
      border: none;
}
/*Seccion de cupones*/
.cuponSection h1{
  padding: 0px 10px;
  color:black;
  font-size: 16px;
}
.cuponSection p {
    text-align: center;
}

.cupon {
    display: inline-block;

    width: 42.5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 5vw;

    text-align: center;

  color: #fff;
    border-radius: 5px;
    background-image: url("../stuff/img/hyatt.jpg");
    box-shadow: 5px 5px 3px #888888;
}

.cuponList {
    width: 90vw;
    margin: 2.5vh 5vw;

    text-align: center;

  color: #fff;
    border-radius: 5px;
    background-image: url("../stuff/img/hyatt.jpg");
}

/*******************Todo el login********************/
.login{
  text-align: center;
}

.login h1{
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 0 3px gray;
  height: 6vh;
  font-size: 13px;
  line-height: 35px;
  font-size: 15px;
}

#pay input{
      border-radius: 25px;
      height: 6vh;
      margin-bottom: 13px;
      margin-top: 10px;
      padding: 5px 0;
      width: 60vw;
}
#pay .small{
      height: 4vh;
      margin: 15px;
      width: 25vh;
}
.login input{
      border-radius: 25px;
       height: 6vh;
       margin-top: 15.5vh;
       padding: 5px 0;
       width: 64vw;
}

.loginIcons .fa{

}
.loginIcons{
      margin:20px;
}

.login button{
  padding: 10px 10px;
  border: none;
  color: white;
  border: none;
  background-color: #ff4a80;
  font-weight: bold;
  margin: 6vh 0;
  width: 78%
}

 #register button{
  margin-top: 20vh;
}

#register h4{
      color: gray;
      font-weight: normal;
      padding: 20px;
      text-align: center;
}
.login button:active{
  background-color: #565656;
}
#cardCode{

}
.login .fa{
      background-color: #ff4a80;
       border-radius: 100%;
       color: white;
       height: 37px;
       margin-left: -54px;
       width: 40px;
}

#registerCheck {
      background-color: white;
      border-style: solid;
      color: #4dff4d;
      height: 111px;
      line-height: 105px;
      margin: 54px;
      width: 115px;
}
/******************* Perfil ********************/
.profile{
  text-align: center;
}
.profileImg{
  margin: 5vw 0px;

}
.profileImg img{
  width: 35vw;

  border: 2px solid #2e2e2e;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  border-radius: 150px;
}

.profileData{
  border-bottom: 1px solid #2e2e2e;
}

/******************* Wallet ********************/
.wallet{
  text-align: center;
}
.walletTop{
  margin: 5vw 0;
}

.walletTop h1{
  display: inline-block;

  width: 30vw;

  font-size: 15px;
}

.walletTop img{
  width: 15vw;

  border: 1px solid #2e2e2e;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  border-radius: 150px;
}
/******************* Near ********************/
.near img{
  width: 100vw;
}

.nearHead{
  text-align: center;
}
/******************* Reedeem Cupon ********************/

.reedeem img{
  display: inline-block;

  width: 30vw;
}
