<div class="wallet">
  <div class="walletTop">
    <h1>My Wallet</h1>
    <img src="stuff/profileImg/antony.jpg" alt="">
  </div>
  <form>
    <input type="text" name="search" placeholder="Search...">
    <button type="button" name="search">Go!</button>
  </form>
    <div class="cuponList" ng-repeat="cupon in controladorMain.cupons">
        <h2 class="nombreCupon">{{cupon.desc}}</h2>
        <p class="descuentoCupon">{{cupon.discount}}%</p>
        <p class="saveCupon"><a href>Save</a></p>
    </div>
</div>
