<!doctype html>
<html lang="en" ng-app="moduleMain" ng-controller="controladorMain as controladorMain">

<head>
    <meta charset="UTF-8">
    <title>Cupon</title>
    <link rel="stylesheet" href="./css/application.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <base href="/Cupones/">
</head>

<body>
    <div ng-controller="showMenu as show" ng-show="hideMenuBar">
        <div class="menuBar">
            <a href class="btMenu" ng-click="show.changeClass()">M</a>
            <a href id="btFilter" class="btMenu" ng-click="show.changeClass2()">F</a>
        </div>

        <div class="contenedorNav" ng-class="{'active':show.open}">
            <div class="sectionNav">
                        <div id ="subtitle">
                              <i class="fa fa-certificate" aria-hidden="true"></i>
                              <span > COUPONS</span>
                        </div>
                <ul>
                    <li><i class="fa fa-product-hunt" aria-hidden="true"></i> <a href="#/cuponList" ng-click="show.changeClass3()">Popular</a></li>
                    <li><i class="fa fa-bars" aria-hidden="true"></i><a href="#/categories" ng-click="show.changeClass3()">Categories</a></li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#/lastMinute" ng-click="show.changeClass3()">Last Minute</a></li>
                    <li><i class="fa fa-mars" aria-hidden="true"></i><a href="#/near" ng-click="show.changeClass3()">Near</a></li>
                    <li><i class="fa fa-search" aria-hidden="true"></i><a href=#/search ng-click="show.changeClass3()">Search</a></li>
                    <li><i class="fa fa-rocket" aria-hidden="true"></i><a href=#/search ng-click="show.changeClass3()">Features</a></li>
                </ul>
            </div>
            <div class="sectionNav">
                  <div id ="subtitle">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                        <span >BRANDS</span>
                  </div>
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i><a href="#/places" ng-click="show.changeClass3()">Turistic Places</a></li>
                </ul>
          </div>
            <div class="sectionNav">
                  <div id ="subtitle">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                        <span >OTHER</span>
                  </div>
                <ul>
                    <li><i class="fa fa-user-secret" aria-hidden="true"></i><a href="#/cancunCard" ng-click="show.changeClass3()">Profile</a></li>
                    <li><i class="fa fa-shopping-cart" aria-hidden="true"></i><a href="#/foreingCard" ng-click="show.changeClass3()">Buy Card</a></li>
                </ul>
            </div>
            <div class="sectionNav">
                <a href target="_blank" ng-click="show.changeClass3()">Terms and conditions</a>
            </div>
            <br> <button id="logOut"><i class="fa fa-power-off" aria-hidden="true"></i> LOG OUT </button>
        </div>


        <div class="contenedorFiltro" ng-class="{'active':show.open2}">
            <div class="sectionNav">
                <h2>Order by</h2>
                <div class ="styledSelect">
                      <select class ="carlist" name="carlist" form="carform">
                           <option value="distance">Distance</option>
                     </select>
               </div>
            </div>
            <div class="sectionNav">
                <h2>Brands</h2>
                <div class ="styledSelect">
                      <select class ="carlist" name="carlist" form="carform">
                           <option value="default">Default</option>
                     </select>
               </div>
            </div>
            <div class="sectionNav">
                <h2>Category</h2>
                <div class ="styledSelect">
                      <select class ="carlist" name="carlist" form="carform">
                           <option value="default">Default</option>
                     </select>
               </div>
            </div>
            <div class="sectionNav">
                <h2>Distance</h2>
                  <div class ="styledSelect">
                        <select class ="carlist" name="carlist" form="carform">
                              <option value="default">Default</option>
                        </select>
                  </div>
            </div>
            <br> <button id="filter"> FILTER </button>
        </div>
    </div>




    <ng-view>
    </ng-view>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
    <script type="text/javascript" src="./javascript/bd.js"></script>
    <script type="text/javascript" src="./javascript/app.js"></script>
    <script type="text/javascript" src="./javascript/routes.js"></script>
</body>

</html>
