<div class="login">
      <h1>Start enjoying Millions of coupons</h1>
      <h2>Card Details Completed</h2>

      <span> LOGIN WITH </span><br>
      <a class ="loginIcons" href="#/pay"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class ="loginIcons" href="#/pay"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      <a class ="loginIcons" href="#/pay"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>
