<div class="login" id ="pay">
  <h1>Start enjoying Millions of coupons</h1>
  <h2>Card Details Completed</h2>
  <h2>Login Completed!</h2>

  <form>
    <input  type="text" name="cardholderName" placeholder="Enter Cardholder Name">
    <span class="fa fa-check fa-2x" aria-hidden="true"></span>

    <input type="text" name="cardNumber" placeholder="Enter Card Number">
    <span class="fa fa-check fa-2x" aria-hidden="true"></span>

    <input class="small" type="text" name="date" placeholder="MM/YY">
    <span class="fa fa-check fa-2x" aria-hidden="true"></span>

    <input class="small" type="text" name="cvc" placeholder="CVC">
    <span class="fa fa-check fa-2x" aria-hidden="true"></span>

    <button type="button" name="pay">Pay</button>
  </form>
</div>
