<div  class="cuponDetails">
            <img src="stuff/img/fondoCuponDetails.png" alt="Cupon">
            <div id =details>
                  <span class ="title"> Event Loot Coupon </span>
                  <span id="expDate">10 Dec 2017</span> <br>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos sunt ut assumend.</span><br><br>
                  <span class ="title"> Restrictions </span><br>
                  <span>Only for adults</span>
            </div>
            <button  id ="redeemButton" href="reedemCupon">Reedeem</button>
            <div id="storeDetails">
                  <div>
                        <img id = "storeImage"src="stuff/img/storeImage.png"> </img>
                        <h2>Store Name</h2> <br>
                        <span id="numCoupons">11 coupons</span> <br>
                  </div>
                  <div>
                        <span id="infoCoupon"> Excepteur sint occaecat cupidatat non proide </span>
                        <button id="getDirection"> Get Direction </button>
                  </div>
                  <img id="map" src="stuff/img/map.png"> </img>
            </div>
</div>
