<div class="search">
  <form>
    <input type="text" name="search" placeholder="Search...">
    <button type="submit" name="submit">Go!</button>
  </form>

  <div class=cuponSection>
      <h1>Cupons</h1>
      <div class="cupon" ng-repeat="cupon in controladorMain.cupons | limitTo:2">
          <h2 class="nombreCupon">{{cupon.desc}}</h2>
          <p class="descuentoCupon">{{cupon.discount}}%</p>
          <p class="saveCupon"><a href="#/foreingCard">Save</a></p>
      </div>
      <p><a href="#/cuponList">see more</a></p>
  </div>

<div class=cuponSection>
  <h1>Categories</h1>
  <div class="cuponList" ng-repeat="categorie in controladorMain.categories | limitTo:1">
      <h2 class="nombreCupon">{{categorie.cat}}</h2>
      <p class="saveCupon"><a href>Save</a></p>
  </div>
</div>

<div class=cuponSection>
  <h1>Brands</h1>
</div>


</div>
