<div class="profile">
  <div class="profileImg">
    <img src="stuff/profileImg/antony.jpg" alt="Profile Picture">
  </div>
  <div class="profileData">
    <p>Tu nombre</p>
    <p>Valid until: </p>
    <p>Joined</p>
  </div>
  <div class="profileCuponStats">
    <h2>Cupon Stats</h2>
    <p>Saved</p>
    <p>Money Saved</p>
    <p>Reedemed</p>
    <a href="#/wallet">See wallet</a>
  </div>
</div>
