<div class="cuponList" ng-repeat="cupon in controladorMain.cupons">
    <h2 class="nombreCupon">{{cupon.desc}}</h2>
    <p>Last Munute</p>
    <p class="descuentoCupon">{{cupon.discount}}%</p>
    <p class="saveCupon"><a href>Save</a></p>
</div>
