<div class=cuponSection>
    <h1>Recommended</h1>
    <div class="cupon" ng-repeat="brand in controladorMain.brands">
        <h2 class="nombreCupon">{{brand.brand}}</h2>
        <p class="saveCupon"><a href="#/foreingCard">Save</a></p>
    </div>
</div>
