<div class="login" id="register">
  <h1>Start enjoying Millions of coupons</h1>

  <br><span id ="registerCheck" class="fa fa-check fa-4x" aria-hidden="true"></span><br>

  <h2>CONGRATULATIONS</h2>
  <h4>Login Completed! Enjoy your journey with our app</h4>

  <button href="#/">Start Enjoying</button>
</div>
