<div class="login">
      <h1>Start enjoying Millions of coupons</h1>
            <form id="cardCode">
                  <div>
                  <input type="text" name="pass" placeholder="Enter Preference Pass Number">
                  <span class="fa fa-check fa-2x" aria-hidden="true"></span>
                  </div>
            </form>
            <p>or</p>
            <button class="scanCard" href>Scan Card</button>
            <p>Get your card at your cupon provider</p>
</div>
