<div class="login">
  <h1>Start enjoying Millions of coupons</h1>
  <form ng-submit="loginCupon()">
      <input type="text" name="pass" placeholder="Enter Preference Pass Number">
      <span class="fa fa-check fa-2x" aria-hidden="true"></span>
  </form>
  {{loginCupon.cards[0].card}}
  <button class="scanCard" href>Scan Card</button>
  <p>or</p>
  <button class ="scanCard" href>Buy virtual card</button>
</div>
