<div class="near">
  <img src="stuff/img/map.png" alt="Map">

  <div class="nearHead">
    <h2>Store name</h2>
    <p>11 Cupons</p>
  </div>

  <div class="cuponList" ng-repeat="cupon in controladorMain.cupons">
      <h2 class="nombreCupon">{{cupon.desc}}</h2>
      <p class="descuentoCupon">{{cupon.discount}}%</p>
      <p class="saveCupon"><a href>Save</a></p>
  </div>
</div>
