<div class=cuponSection>
      <div id ="mainImage">
            <img id ="mainCouponImage" src="./stuff/img/mainImage.png">
      </div>
    <h1>Recommended</h1>
    <div class="cupon" ng-repeat="cupon in controladorMain.cupons | limitTo:2">
        <h2 class="nombreCupon">{{cupon.desc}}</h2>
        <p class="descuentoCupon">{{cupon.discount}}%</p>
        <p class="saveCupon"><a href="#/foreingCard">Save</a></p>
    </div>
    <p><a href="#/cuponList">see more</a></p>
</div>

<div class="cuponSection">
    <h1>Last Minute Offers</h1>
    <div class="cupon" ng-repeat="cupon in controladorMain.cupons | limitTo:2">
        <h2 class="nombreCupon">{{cupon.desc}}</h2>
        <p class="descuentoCupon">{{cupon.discount}}%</p>
        <p class="saveCupon"><a href="#/foreingCard">Save</a></p>
    </div>
    <p><a href="#/cuponList">see more</a></p>
</div>
